.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

th {
    background-color: #f4f7fc;
    font-weight: bold;
}

tbody tr td:nth-child(5) { /* Coluna de Ações */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

td svg {
    cursor: pointer;
    transition: color 0.3s;
}

td svg:hover {
    color: #007bff;
}
