.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 40px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

table {
    width: 90%; /* Aumenta a largura da tabela */
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Garante que o texto não quebre para a próxima linha */
}

th {
    background-color: #f4f7fc;
    font-weight: bold;
}

/* Ajuste para exibir todas as informações do usuário em uma linha */
tbody tr {
    display: table-row; /* Define como uma linha de tabela */
}

tbody tr td {
    display: table-cell; /* Define cada célula na mesma linha */
    padding: 10px 20px; /* Adiciona espaçamento entre as células */
}

/* Flexibilidade nas colunas */
tbody tr td:nth-child(1) { /* Nome */
    width: 20%; /* Ajuste de largura */
}

tbody tr td:nth-child(2) { /* Email */
    width: 30%;
}

tbody tr td:nth-child(3), /* Data de Nascimento */
tbody tr td:nth-child(4) { /* Status */
    width: 15%;
}

tbody tr td:nth-child(5) { /* Ações */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Espaço uniforme entre os ícones */
}

/* Estilo para os ícones de ação */
td svg {
    cursor: pointer;
    transition: color 0.3s;
}

td svg:hover {
    color: #007bff;
}
